@{
    string resultMessage = ViewBag.ResultMessage;
}

<section class="resume-section" id="contact">
    <form method="post">
        <div class="resume-section-content">
            <h2 class="mb-5">İletişim</h2>
            <div class="col-12">
                <label>Ad - Soyad</label>
                <input type="text" class="form-control" name="Fullname" />

                <label>Mail</label>
                <input type="text" class="form-control" name="Mail" />

                <label>Konu</label>
                <input type="text" class="form-control" name="Title" />

                <label>Mesaj</label>
                <input type="text" class="form-control" name="Message" />
                <br />
                <button class="btn btn-danger">Mesaj Gönder</button>
            </div>

        </div>
    </form>
</section>

@if (resultMessage != null)
{
    <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>@resultMessage</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}